// Structure 
$header_height: 110px;
$header_height_mobile: 120px;

$mobile_width: 766px;
$tablet_width: 930px;
$desktop_width: 1170px;
$wide_width: 1920px;


// Couleurs
$firstColor: #09192E; 
$secondColor: #1E2336; 
$thirdColor: #CCD6F6; 

$innerWidth: 1100px;
$innerSmallWidth : 730px;
$base-font-size: 12px;


$font-family: 'JetBrains Mono', monospace, sans-serif;

// HEADER
$header-width: 270px;