body.active-menu{
  height: 100vh;
  overflow: hidden;
  .site-header__content{
    transform: scale(1);
  }
}

.site-header{
  position: relative;
  &__content{
    background-color: $firstColor;
    @include media('desktop') {
      position: fixed;
      height: 100vh;
      width: $header-width;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      padding-top: 4em;
    }
    @include media('from_tablet') {
      position: absolute;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5rem;
      gap:2rem;

      transition-duration: 0.2s;
      transform-origin: top right;
      transform: scale(0);
    }
  }
  .nav-menu{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    ul, li{
      list-style: none;
    }
    li{
      position: relative;
      &::after{
        content: '';
        position: absolute;
        bottom: -13px;
        left: 0;
        width: 70px;
        height: 7px;
        background-color: $thirdColor;
        transition-duration: 1s;
        transform-origin: left;
        transform: scaleX(0);
      }
    }
    li:hover{
      &::after{
        transform: scaleX(1);
      }
    }
  }

  // burger
  .menu-toggle{
    display: none;
  }
  @include media('from_tablet') {
    .menu-toggle-label{
      display: block;
      position: absolute;
      // background-color: red;
      top: 2rem;
      right: 2rem;
      width: 50px;
      height: 50px;
      cursor: pointer;
      z-index: 5;

      background: $firstColor;
      padding: 10px;
      border-radius: 100%;
      &__line{
        background-color: #fff;
        display: block;
        width: 40px;
        height: 4px;
        position: absolute;
        transition-property: opacity;
        transition-duration: 0.2s;
        right: 15px;
        &.line_1{
          top: 20px;
          
        }
        &.line_2, &.line_3{
          top: 34px;
          transition-property: transform;
          transition-timing-function: cubic-bezier(.17,.67,.82,.31);
          transform: rotate(0deg);
        }
        &.line_4{
          bottom: 16px;
        }
      }
      
    }
  }
  // l'animation du burger
  input.menu-toggle:checked{
    & + label{
      // display: none;
      .line_1, .line_4{
        opacity: 0;
      }
      .line_2{
        transform: rotate(45deg);
      }
      .line_3{
        transform: rotate(-45deg);
      }
    }
  }
}