{% if menu %}
  <nav class="navbar" id="main-menu">
    <ul class="nav-menu">
      {% for item in menu.get_items %}
        <li {% if item.get_classes is not empty %}class="{{ item.get_classes | join(' ') }}"{% endif %}>
          <a href="{{ item.get_link }}"><span itemprop="name">{{ item.title }}</span></a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}