{% block html_head_container %}
  {% include 'views/html-header.twig' %}
  {% block head %}
  {% endblock %}
</head>
{% endblock %}

<body class='{{body_class}}'>
  {% block header %}
    {% include 'views/header.twig' %}
  {% endblock %}
  
  {% block body '' %}
  {# {% endblock %} #}
  


  {{function('wp_footer')}}
</body>
</html>
